// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 hqnicolas <hqnicolas@msn.com>
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/soc/rockchip,vop2.h>

#include "rk3568-evb1-ddr4-v10.dtsi"

/ {
	model = "rk3568-evb1-v10";
	compatible = "rk3568-evb1-v10,rk3568", "rockchip,rk3568";
	bootargs = "earlycon=uart8250,mmio32,0xfe660000 console=ttyFIQ0";

	aliases {
		ethernet0 = &gmac1;
		mmc1 = &sdmmc0;
		mmc0 = &sdhci;
		mmc2 = &sdmmc1;
	};

	chosen: chosen {
		stdout-path = "serial2:1500000n8";
	};

	gmac1_clkin: external-gmac1-clock {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		clock-output-names = "gmac1_clkin";
		#clock-cells = <0>;
	};

	dc_12v: dc-12v {
		compatible = "regulator-fixed";
		regulator-name = "dc_12v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc3v3_sys: vcc3v3-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	leds {
		status = "okay";
		compatible = "gpio-leds";

		led1 {
			label = "led1";
			// 原0x00替换为GPIO_ACTIVE_HIGH（高电平点亮）
			gpios = <&gpio0 RK_PC0 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			pinctrl-names = "default";
			pinctrl-0 = <&led1_pin>;
		};

		led2 {
			label = "led2";
			gpios = <&gpio0 RK_PB7 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			pinctrl-names = "default";
			pinctrl-0 = <&led2_pin>;
		};

		led4 {
			label = "led4";
			gpios = <&gpio0 RK_PC3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			pinctrl-names = "default";
			pinctrl-0 = <&led4_pin>;
		};

		led5 {
			label = "led5";
			gpios = <&gpio0 RK_PC1 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			pinctrl-names = "default";
			pinctrl-0 = <&led5_pin>;
		};
	};

	vbus: vbus-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vbus";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	rk809_sound: rk809-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "rockchip,rk809-codec";
		simple-audio-card,mclk-fs = <256>;

		simple-audio-card,cpu {
			sound-dai = <&i2s1_8ch>;
		};
		simple-audio-card,codec {
			sound-dai = <&rk809_codec>;
		};
	};
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&cpu1 {
	cpu-supply = <&vdd_cpu>;
};

&cpu2 {
	cpu-supply = <&vdd_cpu>;
};

&cpu3 {
	cpu-supply = <&vdd_cpu>;
};

&gmac0 {
	phy-mode = "rgmii";
	status = "okay";

	/* PHY 电源 */
	phy-supply = <&vcc_3v3>;

	/* 复位引脚: GPIO2_PB5, 低电平有效 */
	snps,reset-gpio = <&gpio2 RK_PB5 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;

	/* RGMII 时钟方向: 由 SoC 输出给 PHY */
	clock_in_out = "output";

	/* RGMII 收发延迟线 */
	tx_delay = <0x43>;
	rx_delay = <0x33>;

	/* 时钟分配 */
	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>, <&cru CLK_MAC0_2TOP>;
	assigned-clock-rates = <0>, <125000000>;

	/* 引脚功能复用 */
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim
	             &gmac0_tx_bus2
	             &gmac0_rx_bus2
	             &gmac0_rgmii_clk
	             &gmac0_rgmii_bus>;

	/* PHY 句柄，指向下面的 MDIO PHY 设备 */
	phy-handle = <&rgmii_phy0>;
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

&i2c0 {
	status = "okay";
	/* 
	 * 确保 i2c0_xfer 或类似名称的 pinctrl 节点被正确定义，
	 * 它应包含第一份配置中的 GPIO0_B1 和 GPIO0_B2 引脚。
	 */
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_xfer>;

	/* 
	 * PMIC pmic@20 节点
	 * 完整地从第一份配置迁移而来，并转换为高可读性格式。
	 */
	rk809: pmic@20 {
		compatible = "rockchip,rk809";
		reg = <0x20>;
		wakeup-source;
		rockchip,system-power-controller;

		/* 中断引脚，使用高可读性格式表示 <0x36> <0x03 0x08> */
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA3 IRQ_TYPE_LEVEL_LOW>;

		/* 确保 pmic_int_l 指向 PMIC 中断引脚的 pinctrl 定义 */
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int_l>;
		
		#clock-cells = <1>;
		clock-output-names = "rk808-clkout1", "rk808-clkout2";

		/* PMIC 自身的供电，假设 <0x3d> 等同于 vcc3v3_sys */
		vcc1-supply = <&vcc3v3_sys>;
		vcc2-supply = <&vcc3v3_sys>;
		vcc3-supply = <&vcc3v3_sys>;
		vcc4-supply = <&vcc3v3_sys>;
		vcc5-supply = <&vcc3v3_sys>;
		vcc6-supply = <&vcc3v3_sys>;
		vcc7-supply = <&vcc3v3_sys>;
		vcc8-supply = <&vcc3v3_sys>;
		vcc9-supply = <&vcc3v3_sys>;


		regulators {
			vdd_logic: DCDC_REG1 {
				regulator-name = "vdd_logic";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;      // 0x7a120
				regulator-max-microvolt = <1350000>;     // 0x149970
				regulator-init-microvolt = <900000>;     // 0xdbba0
				regulator-ramp-delay = <6001>;           // 0x1771
				regulator-initial-mode = <2>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_gpu: DCDC_REG2 {
				regulator-name = "vdd_gpu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;      // 0x7a120
				regulator-max-microvolt = <1350000>;     // 0x149970
				regulator-init-microvolt = <900000>;     // 0xdbba0
				regulator-ramp-delay = <6001>;           // 0x1771
				regulator-initial-mode = <2>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-name = "vcc_ddr";
				regulator-always-on;
				regulator-boot-on;
				regulator-initial-mode = <2>;
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vdd_npu: DCDC_REG4 {
				regulator-name = "vdd_npu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;      // 0x7a120
				regulator-max-microvolt = <1350000>;     // 0x149970
				regulator-init-microvolt = <900000>;     // 0xdbba0
				regulator-ramp-delay = <6001>;           // 0x1771
				regulator-initial-mode = <2>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
			
			vcc_1v8: DCDC_REG5 {
				regulator-name = "vcc_1v8";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;     // 0x1b7740
				regulator-max-microvolt = <1800000>;     // 0x1b7740
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_image: LDO_REG1 {
				regulator-name = "vdda0v9_image";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;      // 0xdbba0
				regulator-max-microvolt = <900000>;      // 0xdbba0
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v9: LDO_REG2 {
				regulator-name = "vdda_0v9";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;      // 0xdbba0
				regulator-max-microvolt = <900000>;      // 0xdbba0
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_pmu: LDO_REG3 {
				regulator-name = "vdda0v9_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;      // 0xdbba0
				regulator-max-microvolt = <900000>;      // 0xdbba0
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};

			vccio_acodec: LDO_REG4 {
				regulator-name = "vccio_acodec";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;     // 0x2dc6c0, 注意! 与第二份配置不同
				regulator-max-microvolt = <3000000>;     // 0x2dc6c0
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd: LDO_REG5 {
				regulator-name = "vccio_sd";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;     // 0x1b7740
				regulator-max-microvolt = <3300000>;     // 0x325aa0
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_pmu: LDO_REG6 {
				regulator-name = "vcc3v3_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;     // 0x325aa0
				regulator-max-microvolt = <3300000>;     // 0x325aa0
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcca_1v8: LDO_REG7 {
				regulator-name = "vcca_1v8";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;     // 0x1b7740
				regulator-max-microvolt = <1800000>;     // 0x1b7740
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca1v8_pmu: LDO_REG8 {
				regulator-name = "vcca1v8_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;     // 0x1b7740
				regulator-max-microvolt = <1800000>;     // 0x1b7740
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcca1v8_image: LDO_REG9 {
				regulator-name = "vcca1v8_image";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;     // 0x1b7740
				regulator-max-microvolt = <1800000>;     // 0x1b7740
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
			
			vcc_3v3: SWITCH_REG1 {
				regulator-name = "vcc_3v3";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_sd: SWITCH_REG2 {
				regulator-name = "vcc3v3_sd";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		}; // regulators end

        rk809_codec: codec {
			mic-in-differential;
	    }; // codec end
	}; // pmic end
}; // &i2c0 end


&i2s0_8ch {
	status = "okay";
};

&i2s1_8ch {
	pinctrl-names = "default";
	pinctrl-0 = <&i2s1m0_sclktx
				 &i2s1m0_lrcktx
				 &i2s1m0_sdi0
				 &i2s1m0_sdo0>;
	rockchip,trcm-sync-tx-only;
};

&pinctrl {
    pmic {
        pmic_int_l: pmic-int-l {
			rockchip,pins = <0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
        };
    };

    leds {
        led1_pin: led1_pin {
            rockchip,pins = <0 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
        };
        led2_pin: led2_pin {
            rockchip,pins = <0 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
    	};
    	led4_pin: led4_pin {
            rockchip,pins = <0 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>;
        };
        led5_pin: led5_pin {
            rockchip,pins = <0 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
        };
	};
};

&pmu_io_domains {
	pmuio1-supply = <&vcc3v3_pmu>;
	pmuio2-supply = <&vcc3v3_pmu>;
	vccio1-supply = <&vccio_acodec>;
	vccio2-supply = <&vcc_1v8>;
	vccio3-supply = <&vccio_sd>;
	vccio4-supply = <&vcc_1v8>;
	vccio5-supply = <&vcc_3v3>;
	vccio6-supply = <&vcc_1v8>;
	vccio7-supply = <&vcc_3v3>;
	status = "okay";
};

&pwm12 {
	pinctrl-0 = <&pwm12m1_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&saradc {
	vref-supply = <&vcca_1v8>;
	status = "okay";
};

&sata2 {
	status = "okay";
};

&sdhci {
	status = "okay";
	bus-width = <8>;
	max-frequency = <200000000>;
	non-removable;
	supports-emmc;
	mmc-hs200-1_8v; // 支持 HS200 模式 @ 1.8V
	vmmc-supply = <&vcc_3v3>;
	vqmmc-supply = <&vcc_1v8>;
};

&tsadc {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&usb2phy0 {
	status = "okay";
};

&usb2phy0_host {
	status = "okay";
};

&vop {
	assigned-clocks = <&cru DCLK_VOP0>, <&cru DCLK_VOP1>;
	assigned-clock-parents = <&pmucru PLL_HPLL>, <&cru PLL_VPLL>;
	status = "okay";
};

&vpu {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};
